html {
    box-sizing: border-box;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
body{
    font-family: 'Titillium Web', Arial, sans-serif;;
    margin: 0rem;
    padding: 0rem;
    background-color: #fff;
    color: #0B172A;
    text-align: center;
}
header {
    background-color: #0B172A;
    color: #fff;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
}
footer {
    background-color: #BC4123;
    text-align: center;
    color: #fff;
    height: 100%;
}

[class*="col-"] {
	flex: 0 0 92%;
	margin: 0 4%;
}

header .slogan {
    font-style: italic;
}
header .slogan-up{
    display: none;
}

header img {
    width: 9rem;
    border: 2px solid #463940;
    border-radius: 50%;
}

.general {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.skills {
    margin: 0;
}
.skill {
    display: flex;
    flex-flow: column wrap;
}

.skill-card {
    flex: 0 0 28%;
    padding: 1rem;
    text-align: center;
    border-top: 3px solid #0B172A;
}
.skill-card:last-child {
    border-bottom: 3px solid #0B172A;
}

.skill-card:nth-child(odd) {
    background-color: #BC4123;
    color: #fff;
  }

.skill-card ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.skill-card li {
    flex: 0 1 33%;
    flex-basis: content;
    font-size: 0.75rem;
}

.skill-card img {
    width: 3rem;
}

.experience {
    margin-top: 2rem;
}

.jobs {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.job-item {
    padding: 1rem;
    border: 2px solid #463940;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #463940;
    margin: 1rem;
    width: 70%;
}
.job-item h4,h5,h6 {
    margin-bottom: 0.2rem;
}
.job-item:hover {
    background-color: #463940;
    color: #fff;
}

.job-item h4 {
    font-weight: bold;
}

.experience a {
    margin: 1rem;
    padding: 0.6rem;
    background-color: #BC4123;
    border: 1px solid #BC4123;
    box-shadow: 0 4px 8px 0 #111111;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    outline:none;
    display: inline-block;
    text-decoration: none;
}
.experience a:hover {
    background-color: #463940;
    border: 1px solid #463940;
}
.beyond {
    padding: 1rem;
    padding-bottom: 1.5rem;
    background-color: #0B172A;
    color: #fff;
}
.gallery {
    display: flex;
    flex-flow: column nowrap;
    margin: auto 1.5rem;
}
.activity-card {
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    height: 35vh;
}
.activity-card:nth-last-child(-n+3) {
    display: none;
}
.activity-card img {
    border-radius: 10px;
    width: 100%;
    width: 100%;
    height: 35vh;
}
.activity-card p {
    position: relative;
    margin: 0;
    padding: 0.5rem;
    font-size: 0.75rem;
    text-align: center;
    background:rgba(70, 57, 64, 1);
    border-radius: 0px 0px 10px 10px;
    bottom: 1.5rem; 
    width: inherit;
}
.cards {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;  
    border-right: 1rem solid #BC4123; 
  }
.arrow-left:hover {
    border-right: 1rem solid #463940;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #BC4123;
  }
.arrow-right:hover {
    border-left: 1rem solid #463940;
}
.social-media {
    padding: 0.5rem;
}
.social-media img {
    width: 1.3rem;
    padding: 0.2rem;
}
footer p {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 0.625rem;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) { 
    header img {
        width: 10rem;
    }
    .skill {
        flex-flow: row nowrap;
    }
    .skill-card {
        border-bottom: 3px solid #0B172A;
    }
    .skill-card li {
        font-size: 0.75rem;
    }
    .jobs {
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
    }
    .job-item {
        width: 50%;
    }    
    .col-1-2-3 {
        flex: 0 1 38%
    }
    .gallery {
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    /* Display just two first elements on tablet */
    .activity-card {
        width: 33%;
    }
    .activity-card:nth-child(-n+2) {
        display: block;
    }
    .activity-card p {
        font-size: 0.625rem;
    }
  }
  /* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) { 
    html {
        font-size: 20px;
    }
    .col-3 {
		flex: 0 1 60%;
    }
    .col-1-4 {
		flex: 0 1 20%;
    }
    .col-1-2-3 {
        flex: 0 1 33%;
    }
    header {
        flex-flow: row wrap;
    }
    header h1 {
        font-size: 2.5rem;
    }
    header .col-3 {
        align-self: center;
        text-align: left;
    }
    header .slogan-up{
        display: block;
    }
    header .slogan-down{
        display: none;
    }
    header img {
        width: 12rem;
        flex: 0 0 33%
    }
    .general {
        flex-flow: row nowrap;
    }
    .general:first-child{
        text-align: left;
    }
    .skills {
        text-align: center;
    }
    .skill-card li {
        margin-bottom: 0.2rem;
    }
    .jobs {
        flex-wrap: nowrap;
    }
    /* Display all elements on desktop */
    .activity-card:nth-child(n) {
        display: block;
    }
  }


  