html {
    box-sizing: border-box;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
body{
    font-family: 'Titillium Web', Arial, sans-serif;;
    margin: 0rem;
    padding: 0rem;
    background-color: #fff;
    color: #0B172A;
    text-align: center;
}
header {
    background-color: #0B172A;
    color: #fff;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
}
main {
    padding: 1rem;
}
footer {
    background-color: #BC4123;
    text-align: center;
    color: #fff;
}

[class*="col-"] {
	flex: 0 0 92%;
	margin: 0 4%;
}

header .slogan {
    font-style: italic;
}
header .slogan-up{
    display: none;
}

header img {
    width: 9rem;
    border: 2px solid #463940;
    border-radius: 50%;
}

.general {
    display: flex;
    flex-direction: column;
}

.skill {
    display: flex;
    flex-flow: column nowrap;
}

.skill-card {
    flex: 0 0 30%;
    padding: 1rem;
    text-align: center;
}

.skill-card:nth-child(odd) {
    background-color: #BC4123;
    color: #fff;
  }

.skill-card ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.skill-card li {
    flex: 0 0 33%;
    font-size: 0.75rem;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) { 
    header img {
        width: 10rem;
    }
  }
  /* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) { 
    html {
        font-size: 20px;
    }
    body {
        text-align: left;
    }
    .general,
    .skill {
        flex-direction: row;
    }
    .col-3 {
		flex: 0 1 60%;
    }
    .col-1-4 {
		flex: 0 1 20%;
    }
    header {
        flex-flow: row wrap;
    }
    header h1 {
        font-size: 2.5rem;
    }
    header .col-3 {
        align-self: center;
        text-align: left;
    }
    header .slogan-up{
        display: block;
    }
    header .slogan-down{
        display: none;
    }
    header img {
        width: 12rem;
        flex: 0 0 33%
    }
  }